diff a/arch/arm/mach-omap2/Kconfig b/arch/arm/mach-omap2/Kconfig	(rejected hunks)
@@ -615,17 +615,4 @@ config RQ_STATS
 	  Select this to enable scheduler rune queue statistic
 	  collections
 
-config INTELLI_PLUG
-	bool "Enable intelli-plug cpu hotplug driver"
-	default n
-	help
-	  Generic Intelli-plug cpu hotplug driver for ARM SOCs
-
-config INTELLI_PLUG_DUAL
-	bool "Enable dual-core mode for intelliplug"
-	depends on INTELLI_PLUG
-	default n
-	help
-	  Special dual-core mode for intelli-plug
-
 endif
